body{
    background-color: rgb(78, 78, 245);
    font-size: 16px;
}
header{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

footer button{
    font-size: 4rem;
}
footer nav ul{
    list-style: none;
}
footer nav ul li{
    display: inline;
    border: 1px solid red;
    font-size: 4em;
}


.s1{
    /* width: 100px; */
    border: 1px solid red;
    text-align: center;
}
.t1{
    font-size: 2em;
}
.t2{
    font-size: 2em;
}